<div class = "container">
    <h1>Start using Tradeus</h1>
    <br>
   
 
    <i class="fa-solid fa-address-card" style="font-size: 36px;"></i>&nbsp;
    <i class="fa-solid fa-address-card" style="font-size: 36px;"></i>&nbsp;
    <i class="fa-solid fa-address-card" style="font-size: 36px;"></i>&nbsp;
    <i class="fa-solid fa-address-card" style="font-size: 36px;"></i>&nbsp;
    <i class="fa-solid fa-address-card" style="font-size: 36px;"></i>&nbsp;
    <i class="fa-solid fa-address-card" style="font-size: 36px;"></i>
    <br><br><br>
    <p>Sign up for an account to start using Tradeus. </p>
  
    <br>
    <ul>
      <li>Click on the 'Register' button at the top right to start your registration.</li>
      <li>An email will be sent to you on successful registration.</li>
      <li>You will be directed to the Dashboard on successful registration.</li>
      <li>You may start using Tradeus.</li>
      <li>Alternatively you may use the following test accounts: &#123;Username: ncl@email.com, Password: #a888888&#125;, &#123;Username: tradeus@email.com, Password: #a888888&#125;</li>

    </ul>
    <br>  
</div> 

