<div class = "container">
    <h1>Using Tradeus</h1>
    <br>
        <p>
            On log in, users will be directed to the dashboard, which serves as the main page. There are a total of six
            pages; Dashboard, Research, Portfolio, AISA, Buy Me a Coffee and user-profile edit. The AI-enabled Stock Analytics (AISA)
            will be rolled out in future implementations. 
        </p>
    <br>

    <br>
    <ol>
        <li>
            <label>Dashboard</label>
            <p>
                The top provides market data on the S&P 500, Nasdaq, CBOE, DJIA and Russell 2000 indices. 
                There are 5 tabs which provide different lists of stock data: 
            </p>
            <ul>
                Portfolio - displays portfolio performance providing total and annualised profit/loss of each stock.
                An snapshot providing the total value and total percentage profit/loss is provided if a portfolio is built.
            </ul>
            <ul>
                Watchlist - displays stock data of user's watchlist. Watchlist can be built and added at Research page. 
            </ul>
            <ul>
                S&P 500 and Nasdaq tabs - displays stock data of these two indices. List is updated quarterly. 
            </ul>
            <ul>
                Live Data - displays live data of selected stocks ( Apple, BYD, DBS, Evergreen, Infosys, Invesco, Samsung, Toyota). Data is streamed using web sockets. 
               
            </ul><br>
            <img src="../../assets/static/images/dashboard.png" alt="Dashboard image" style="width: 50%;  border: 1px solid black;">
        </li>
        <br><br>
        <li>
            <label>Research</label>
            <p>
                Users can perform search on companies (currently US market) to obtain company profile and recent market performance. Search can be done by entering 
                the name or symbol. Companies can be added to watchlist which is displayed at dashboard. 
            </p>
           
            <img src="../../assets/static/images/company.png" alt="Company profile" style="width: 50%;  border: 1px solid black;">
            <br><br>
            <p>
                Users can also obtain chart data (OHLC) with data intervals of up to 1 day and 5000 data points. 
            </p>
         
                <img src="../../assets/static/images/chart.png" alt="Chart image" style="width: 50%;  border: 1px solid black;">
        </li><br><br>
        <li>
            <label>Portfolio</label>
            <p>
                Users can construct their stock portfolio (currently limited to US stocks). By providing transaction price, number 
                of units, date of transaction and commission (if any), the total and annualised profit will be generated for each stock. 
                Overall value and % profit/loss are displayed as well.   
            </p>
                <img src="../../assets/static/images/portfolio.png" alt="Company profile" style="width: 50%;  border: 1px solid black;">
        
        </li><br><br>
        <li>
            <label>Artificial Intelligence-enabled Stock Analystics (AISA) </label>
            <p>
                AISA utilises financial data, including historical stock prices, technical indicators
                market trends and other relevant information. The rollout of AISA is planned for Q4 2023.
            </p>
        </li><br><br>
        <li>
            <label>Buy me a Coffee</label>
            <p>E-payment with Stripe. (Refer to <a href="https://stripe.com/docs/testing">https://stripe.com/docs/testing</a> to make test payment)</p>

                <img src="../../assets/static/images/contribute.png" alt="Company profile" style="width: 50%;  border: 1px solid black;">
        </li><br><br>
        <li>
            <label>User-profile edit</label>
            <p>
               For users to edit and save personal details.
            </p>
        </li>

    </ol>
<br><br>

  

</div> 


