<div class = "container">
    <h1>AI-enabled Stock Analytics (AISA)</h1>
    <br>
    <p>
        The Artificial Intelligence-enabled Stock Analytics (AISA) is an advanced system that 
        leverages the power of machine learning to offer 
        comprehensive stock analysis and recommendations to its users. The primary objective of 
        AISA is to assist investors and traders in making informed decisions in the stock market.
    </p>
    <br>
    <p>
        AISA utilises financial data, including historical stock prices, technical indicators
        market trends and other relevant information. 
        Through sophisticated algorithms and AI models, it analyzes this data to identify patterns, 
        correlations, and potential opportunities in the stock market.
    </p>
    <br>
    <p>The rollout of AISA is planned for Q4 2023.</p>
    <br>

  

</div> 

