<div class="chart-container" style="position: relative; height:50vh; width:70vw">
    <canvas  id="MyChart" >{{ chart }}</canvas>


    <p>Initial Symbol: {{ initialChartSymbol }}</p>
    <p>Symbol: {{ symbol }}</p>

    <form [formGroup]="chartForm" (submit)="processChart()">
        <table>
            <tr>
                <td>Data points:&nbsp;</td>
                <td style="padding-right: 10px;">
                  <input type="number" formControlName="dataPoints">
                </td>
                <td style="padding-left: 10px;">Interval:&nbsp;</td>
                <td>
                  <select formControlName="interval">
                    <option value="1min">1 minute</option>
                    <option value="5min">5 minute</option>
                    <option value="15min">15 minute</option>
                    <option value="1h">1 hour</option>
                    <option value="1day">1 day</option>
                  </select>
                </td>
                <td><button class="btn btn-success ml-5" type="submit">Submit</button></td>
              </tr><br>
        </table>
      </form>

    <br>

    
<!-- 

    <div *ngIf="(chart$ | async) as chartData">
      <h2>{{ chartData.symbol }}</h2>
      <p>Interval: {{ chartData.interval }}</p>
      
      <h3>Datetime</h3>
      <ul>
        <li *ngFor="let datetime of chartData.datetime">{{ datetime | date }}</li>
      </ul>
      
      <h3>Open</h3>
      <ul>
        <li *ngFor="let open of chartData.open">{{ open }}</li>
      </ul>
      
      <h3>High</h3>
      <ul>
        <li *ngFor="let high of chartData.high">{{ high }}</li>
      </ul>
      
      <h3>Low</h3>
      <ul>
        <li *ngFor="let low of chartData.low">{{ low }}</li>
      </ul>
      
      <h3>Close</h3>
      <ul>
        <li *ngFor="let close of chartData.close">{{ close }}</li>
      </ul>
    </div>
    
    
</div>

 -->
