<div class="chart-container" style="position: relative; height:50vh; width:70vw">
    <canvas  id="MyChart" >{{ chart }}</canvas>


    <p>Symbol: {{ symbol }}</p>

    <form [formGroup]="chartForm" (submit)="processChart()">
        <table>
            <tr>
                <td>Data points:&nbsp;</td>
                <td style="padding-right: 10px;">
                  <input type="number" formControlName="dataPoints">
                </td>
                <div>
                  <span *ngIf="invalidField('dataPoints')" class="invalid-field">
                    Min. of 1, max of 5000
                  </span>
                </div>
                <td style="padding-left: 10px;">Interval:&nbsp;</td>
                <td>
                  <select formControlName="interval">
                    <option value="1min">1 minute</option>
                    <option value="5min">5 minute</option>
                    <option value="15min">15 minute</option>
                    <option value="1h">1 hour</option>
                    <option value="1day">1 day</option>
                  </select>
                </td>
                <td><button class="btn btn-success ml-5" type="submit" [disabled]="chartForm.invalid">Submit</button></td>
              </tr><br>
        </table>
      </form>

    <br>
