<div class = "container">

  <h4>Welcome, {{username}} ({{accountId}})</h4>

  <div class="row">
    <div class="box" *ngFor="let index of [0, 1, 2, 3, 4]">
      <div *ngIf="(marketIndex$ | async) as marketIndex">
        <ul [ngClass]="{ 'negative': marketIndex[index].change < 0, 
                        'positive': marketIndex[index].change > 0 }">
          <p>{{marketIndex[index].name}} ({{marketIndex[index].symbol}})</p>
          <p>{{ marketIndex[index].close | number: '1.2-2' }}</p>
          <p><span class="triangle" *ngIf="marketIndex[index].change > 0">&#9650; &nbsp;+</span>
            <span class="triangle" *ngIf="marketIndex[index].change < 0">&#9660;</span>
            {{ marketIndex[index].change | number: '1.2-2' }}&nbsp;   {{ marketIndex[index].percentage_change | number: '1.2-2' }} % </p>
          <!-- <p>{{ marketIndex[index].percentage_change | number: '1.2-2' }} %</p> -->
        </ul>
      </div>
    </div>
  </div>
  


  <h3>My Watchlist</h3>


   <div *ngIf="(watchList$ | async)?.length">
    <table>
      <thead>
        <tr>
          <th>Exch</th>
          <th>Sym</th>
          <th>Name</th>
          <th>Curr</th>
          <th>Open</th>
          <th>High</th>
          <th>Low</th>
          <th>Close</th>
          <th>Vol.</th>
          <th>Prev. Close</th>
          <th>Chg</th>
          <th>Chg%</th>
          <th>Date/Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stock of watchList$ | async">
          <td>{{ stock.exchange }}</td>
          <td>{{ stock.symbol }}</td>
          <td>{{ stock.name }}</td>
          <td>{{ stock.currency }}</td>
          <td>{{ stock.open | number: '1.2-2' }}</td>
          <td>{{ stock.high | number: '1.2-2' }}</td>
          <td>{{ stock.low | number: '1.2-2' }}</td>
          <td>{{ stock.close | number: '1.2-2' }}</td>
          <td>{{ stock.volume }}</td>
          <td>{{ stock.previous_close | number: '1.2-2' }}</td>
          <td [ngClass]="{ 'red': stock.change < 0, 
          'green': stock.change > 0 }">{{ stock.change | number: '1.2-2' }}</td>
          <td [ngClass]="{ 'red': stock.percent_change < 0, 
            'green': stock.percent_change > 0 }">{{ stock.percent_change | number: '1.2-2' }}%</td>
          <td>{{ stock.datetime | date:'dd-MM-YYYY HH:mm' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  


</div>


