.row {
    display: flex;
    justify-content: space-between; 
    /* min-height: 250px */
  }
  
.box {
flex: 1;
font-family: "Arial Black", Arial, sans-serif;
/* font-weight: bold; */
color: white;
padding: 10px;

}


.negative {
background-color: red;
}

.positive {
background-color: green;
}

.triangle {
    color: white;
}

.stock-form{
    padding: 10px;
}

.data-row td {
    padding-left: 10px;
    padding-right: 10px; 
}
  
.arrow-up{
    color:green;
}

.arrow-down{
    color:red;
}

.stock-item:hover {
    color: lightgray;
    cursor: pointer;
  }

/* for watchlist */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 7px;
    text-align: center;
  }
  
  th {
    /* background-color: #f2f2f2; */
    background-color: #1363DF; 
    font-weight: bold;
    color:white
  }
  
  td {
    border: 1px solid #ddd;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #ebebeb;
  }

  .red{
    color:red
  }

  .green{
    color:green
  }
