<div class = "container">

    <!-- <h1>Welcome to Dashboard!</h1> -->

    <p>Welcome, {{username}} ({{accountId}})</p>

    
<h2>Get Stock Data Quote</h2>

<form [formGroup]="stockDataForm" (submit)="getStockData()">
  <table>
    <tr>
      <td>Stock Symbol</td>
      <td>
        <input type="text"  formControlName="symbol">
      </td>
    </tr>
    <tr>
        <td>Interval</td>
        <td>
          <input type="text"  formControlName="interval">
        </td>
    </tr>
    <tr>
      <td></td>
      <td> <button type="submit">Submit</button></td>
    </tr>
  </table>
</form>

<ul>
    <li *ngIf="(stock$ | async) as stock">Symbol: {{ stock.symbol }}</li>
    <li *ngIf="(stock$ | async) as stock">Name: {{ stock.name }}</li>
    <li *ngIf="(stock$ | async) as stock">Exchange: {{ stock.exchange }} </li>
    <li *ngIf="(stock$ | async) as stock">Currency: {{ stock.currency }} </li>  
</ul>




    






    <!-- Displaying loginResponse$ fields -->
    <ng-container *ngIf="(loginResponse$ | async) as loginResponse">
        <p>Username: {{ loginResponse.username }}</p>
        <p>Timestamp: {{ loginResponse.timestamp }}</p>
    </ng-container>
    
      <!-- Displaying registerResponse$ fields -->
    <div *ngIf="(registerResponse$ | async) as registerResponse">
        <p>Username: {{ registerResponse.username }}</p>
        <p>Account Id: {{ registerResponse.account_id }}</p>   
        <!-- <p>{{ registerResponse.error }}</p>    -->
    </div>

    <div *ngIf="(errorMessage$ | async) as errorMessage">
        <p>{{ errorMessage }}</p>
        <p>Please register again.</p>
        <button class="btn btn-primary" [routerLink]="['/register']">Register</button>
    </div>

</div>
