
<div class="container">

    <h1>Asia’s leading digital investment platform</h1>
    <h2>Invest effortlessly — with expert-advised portfolios and low, 
            fair fees. Get started now.</h2>
    <br>
    <h2>Please Login</h2>

    <div *ngIf="(errorMessage$ | async) as errorMessage" class="error-message">
        <p>{{errorMessage}}</p>
    </div>
    
    <form [formGroup]="loginForm" (submit)="login()">

    <table>
        <tr>
        <td>Username:&nbsp;&nbsp;</td>
        <td>
            <input type="email" size="30" formControlName="username" placeholder="Email address">
            <span *ngIf="invalidField('username')" class="invalid-field">
                Please enter a valid email address
            </span>
        </td>
        </tr>
    <br>
        <tr>
        <td>Password:</td>
        <td>
            <div>
                <input type="password" size="30" formControlName="password" placeholder="Password">
              </div>
              <div>
                <span *ngIf="invalidField('password')" class="invalid-field">
                  Please enter a valid password. Password should have a minimum of 8 characters, including at least 1 special character and 1 letter.
                </span>
              </div>
        </td>
        </tr>
    <br>
        <tr>
        <td></td>
        <td>
            <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">
            Login
            </button>
        </td>
        </tr>
    </table>

    </form>

</div>