
<div class="container">

    <h1>Asia’s leading digital investment platform</h1>
    <h2>Invest effortlessly — with expert-advised portfolios and low, 
            fair fees. Get started now.</h2>
    <br>
    <h2>Please Login</h2>

    <form [formGroup]="loginForm" (submit)="login()">

    <table>
        <tr>
        <td>Username:&nbsp;&nbsp;</td>
        <td>
            <input type="email" size="30" formControlName="username" placeholder="Email address">
            <span *ngIf="invalidField('username')">
                Please enter a valid email address
            </span>
        </td>
        </tr>
    <br>
        <tr>
        <td>Password:</td>
        <td>
            <input type="text" size="30" formControlName="password" placeholder="Password">
            <span *ngIf="invalidField('password')">
                Please enter a valid password
            </span>
        </td>
        </tr>
    <br>
        <tr>
        <td></td>
        <td>
            <button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">
            Login
            </button>
        </td>
        </tr>
    </table>

    </form>

</div>