<!-- navbar if user is logged in -->
<ng-container *ngIf="(isLoggedIn$ | async) as loggedIn; else loggedOut">
<!-- <ng-container *ngIf="isLoggedIn; else loggedOut"> -->
  <div *ngIf="loggedIn" class="container-fluid">
    
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white">

      <button class="navbar-toggler btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#navbarLoggedIn" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <a class="navbar-brand" [routerLink]="['/dashboard', parsedUsername]">  
      <span class="brand-text-1">Trade</span><span class="brand-text-2">us</span>
    </a>  


    <div class="collapse navbar-collapse" id="navbarLoggedIn" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard', parsedUsername]" [queryParams]="queryParams">Dashboard</a>
      
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/research']">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/portfolio', parsedUsername]">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/ai']">AISA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/checkout']">
            <i class="fa-solid fa-mug-hot"></i>
          </a>
        </li>
        
        <li class="nav-item">
         
            <button class="btn btn-primary align-text-top" (click)="logout()" style="font-size: 16px;">Log Out</button>
      
        </li>
        <li class="nav-item">
          <i class="fa-solid fa-user custom-icon" [routerLink]="['/useredit']"></i>

        </li>

      </ul>
    </div>
      
      </nav>
    </div>


</ng-container>



<!-- navbar if user is not logged in -->
<ng-template #loggedOut>

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white">

      <button class="navbar-toggler btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#navbarNotLoggedIn" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="#">  
        <span class="brand-text-1">Trade</span><span class="brand-text-2">us</span>
      </a>  

  
    <div class="collapse navbar-collapse" id="navbarNotLoggedIn" [ngbCollapse]="isCollapsed">
      <ul class="navbar-nav mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/getting_started']">Getting Started</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/learn']">Learn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/about']">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Log In</a>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary align-text-top" [routerLink]="['/register']" style="font-size: 16px">Register</button>
        </li>
      </ul>
    </div>
  
      </nav>
    </div>
  

  </ng-template>


