
<div class = "container">


    <h4>Welcome, {{username}} ({{accountId}})</h4>
    <h2>Add to Portfolio</h2>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div *ngIf="(errorMessage$ | async) as errorMessage" class="error-message">
        <p>{{errorMessage}}</p>
    </div>

    <br>
    <form [formGroup]="portfolioForm" (submit)="processPortfolio()">
        <table>
            <tr>
                <td>Exchange: </td>
                <td>
                    <select formControlName="exchange" (change)="fetchExchange(exchange.value)" #exchange>
                        <option value="nyse" selected>NYSE</option>
                        <option value="nasdaq">NASDAQ</option>
                    </select>
                </td>
            </tr>
            <br>
            <tr>
                <td>Search:&nbsp;&nbsp;</td>
                <td>
                    <input type="text" size="30" formControlName="stockName" placeholder="Company Name" (keyup)="filtering(company.value)" #company>
                    <div *ngFor="let s of stockSearch$ | async">
                        <p (click)="getStockData(s.symbol)" class="stock-item">{{ s.name }} ({{ s.symbol }})</p>
                  </div>
                </td>

            </tr>
            <br>
          
            <tr>
                <td>Units:&nbsp;&nbsp;</td>
                <td>
                    <input type="number" formControlName="units" steps="0.01" >
                </td>
            </tr>
            <br>
            <tr>
                <td>Price:&nbsp;&nbsp;</td>
                <td>
                    <input type="number" formControlName="price" steps="0.01" >
                </td>
            </tr>
            <br>
            <tr>
                <td>Fee:&nbsp;&nbsp;</td>
                <td>
                    <input type="number" formControlName="fee" steps="0.01" >
                </td>
            </tr>
            <br>
          <tr>
            <td>Date:&nbsp;&nbsp;</td>
            <td>
                <input type="date" size="30" formControlName="date" placeholder="Date of purchase">
            </td>
          </tr>
          <br>
          <tr>
            <td></td>
            <td>
              <button class="btn btn-primary" type="submit">Submit</button>

            </td>
          </tr>
          <br>
        </table>
      
      </form>
</div>

