<div class = "container">

    <h1>Asia’s leading financial data platform</h1>
    <h2>Track your portfolio effortlessly — with expert-advised research and low, 
            fair fees. Get started now.</h2>
    <br>
    <h2>Register an Account&nbsp; <i class="fa-solid fa-address-card" style="font-size: 36px; display: inline-block; vertical-align: middle;"></i></h2> 

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div *ngIf="(errorMessage$ | async) as errorMessage" class="error-message">
        <p>{{errorMessage}}</p>
    </div>

    <br>
    <form [formGroup]="registerForm" (submit)="registerAccount()">
        <table>
            <tr>
                <td>Name:&nbsp;&nbsp;</td>
                <td>
                    <input type="text" size="30" formControlName="name" placeholder="Name">
                  <span *ngIf="invalidField('name')" class="invalid-field">
                      Please enter a valid name (Min. of 5 chars).
                  </span>
                </td>
                
            </tr>
            <br>
          
            <tr>
                <td>Password:&nbsp;&nbsp;</td>
                <td>
                  <div>
                    <input type="password" size="30" formControlName="password" placeholder="Password">
                  </div>
                  <div>
                    <span *ngIf="invalidField('password')" class="invalid-field">
                      Please enter a valid password. Password should have a minimum of 8 characters, including at least 1 special character and 1 letter.
                    </span>
                  </div>
                </td>
            </tr>
            <br>
          <tr>
            <td>Email:&nbsp;&nbsp;</td>
            <td>
                <input type="email" size="30" formControlName="username" placeholder="Email address (used as username)">
              <span *ngIf="invalidField('username')" class="invalid-field">
                  Please enter a valid email address.
              </span>
            </td>
          </tr>
          <br>
          <tr>
            <td>Address:&nbsp;&nbsp;</td>
            <td>
                <input type="text" size="30" formControlName="address" placeholder="Address">
              <span *ngIf="invalidField('address')" class="invalid-field">
                  Please enter a valid address (Min. of 8 chars).
              </span>
            </td>
          </tr>
          <br>
          <tr>
            <td>Mobile number:&nbsp;&nbsp;</td>
            <td>
                <input type="text" size="30" formControlName="mobile_no" placeholder="Mobile number">
                <span *ngIf="invalidField('mobile_no')" class="invalid-field">
                  Please enter a valid mobile number beginning with either 9 or 8.
              </span>
            </td>
          </tr>
          <br>
          <tr>
            <td>Nationality:&nbsp;&nbsp;</td>
            <td>
                <input type="text" size="30" formControlName="nationality" placeholder="Nationality">
            </td>
            <span *ngIf="invalidField('nationality')" class="invalid-field">
              Please enter your nationality.
            </span>
          </tr>
          <br>
          <tr>
            <td>Date of Birth:&nbsp;&nbsp;</td>
            <td>
                <input type="date" size="30" formControlName="date_of_birth" placeholder="Date of birth">
              <span *ngIf="invalidField('date_of_birth')" class="invalid-field">
                  You need to be at least 18 year old.
              </span>
            </td>
          </tr>
          <br>
          <tr>
            <td></td>
            <td>
              <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">Register</button>

            </td>
          </tr>
          <br>
          <tr>
            <td></td>
            <td><div *ngIf="isLoading" class="loader"></div></td>
          </tr>
        </table>
      
      </form>
</div>

<br>
<br>
