.row {
    display: flex;
    justify-content: space-between; 
    /* min-height: 250px */
  }
  
.box {
flex: 1;
font-family: "Arial Black", Arial, sans-serif;
/* font-weight: bold; */
color: white;
padding: 10px;

}


.negative {
background-color: red;
}

.positive {
background-color: green;
}

.triangle {
    color: white;
}

.stock-form{
    padding: 10px;
}

.data-row td {
    padding-left: 20px; 
    padding-right: 30px; 
}
  
.arrow-up{
    color:green;
}

.arrow-down{
    color:red;
}

.stock-item {
    word-wrap: break-word;
  }

  .stock-list-container {
    width: 100%;
    max-width: 250px; 
  }

.stock-item:hover {
    color: lightgray;
    cursor: pointer;
}

.modifylist-message {
    margin-left: 10px;
    color: grey;
}
