<div class = "container">

    <h1>Asia’s leading digital investment platform</h1>
    <h2>Invest effortlessly — with expert-advised portfolios and low, 
            fair fees. Get started now.</h2>
    <br>
    <h2>Update User Account</h2>
    <h4>Please contact us directly if you wish to change the username (email)</h4> 

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div *ngIf="(errorMessage$ | async) as errorMessage" class="error-message">
        <p>{{errorMessage}}</p>
    </div>

    <div class="success-message">{{successMessage}}</div>

    <br>
    <form [formGroup]="updateForm" (submit)="updateAccount()">
        <table>
            <tr>
                <td>Name:&nbsp;&nbsp;</td>
                <td>
                    <input type="text" size="30" formControlName="name" placeholder="Name">
                </td>
                <span *ngIf="invalidField('name')" class="invalid-field">
                  Please enter a valid name (Min. of 5 chars).
              </span>
            </tr>
            <br>
          
            <tr>
                <td>Password:&nbsp;&nbsp;</td>
                <td>
                    <input type="password" size="30" formControlName="password" placeholder="Password">
                </td>
                <span *ngIf="invalidField('password')" class="invalid-field">
                  Please enter a valid password. Password should have a minimum of 8 characters, including at least 1 special character and 1 letter.
                </span>
            </tr>

          <br>
          <tr>
            <td>Address:&nbsp;&nbsp;</td>
            <td>
                <input type="text" size="30" formControlName="address" placeholder="Address">
            </td>
            <span *ngIf="invalidField('address')" class="invalid-field">
              Please enter a valid address (Min. of 8 chars).
          </span>
          </tr>
          <br>
          <tr>
            <td>Mobile number:&nbsp;&nbsp;</td>
            <td>
                <input type="text" size="30" formControlName="mobile_no" placeholder="Mobile number">
            </td>
            <span *ngIf="invalidField('mobile_no')" class="invalid-field">
              Please enter a valid mobile number beginning with either 9 or 8.
          </span>
          </tr>
          <br>
          <tr>
            <td>Nationality:&nbsp;&nbsp;</td>
            <td>
                <input type="text" size="30" formControlName="nationality" placeholder="Nationality">
            </td>
            <span *ngIf="invalidField('nationality')" class="invalid-field">
              Please enter your nationality.
            </span>
          </tr>
          <br>
          <tr>
            <td>Date of Birth:&nbsp;&nbsp;</td>
            <td>
                <input type="date" size="30" formControlName="date_of_birth" placeholder="Date of birth">
            </td>
            <span *ngIf="invalidField('date_of_birth')" class="invalid-field">
              You need to be at least 18 year old.
          </span>
          </tr>
          <br>
          <tr>
            <td></td>
            <td>
              <button class="btn btn-primary" type="submit">Update</button>

            </td>
          </tr>
          <br>
        </table>
      
      </form>
</div>

